@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
  display: flex;
  border: 0;
  margin: 0;
  padding: 0;
}

:root{
  --main-white: #FFFEFC;
  --brown-banner: rgba(89, 58, 0, 0.5);
  --border-default: rgb(31, 31, 31);
  --border-focus: rgba(89, 58, 0, 0.5);
  --green-main: rgb(67, 131, 67);
  --green-dark: rgb(39, 78, 39);
}

a{
  color: var(--main-white);
}


/* Left side content */

.banner{
  background-image: url("media/coffee-bg.jpg");
  background-size: cover;

  width: 35vw;
  height: 100vh;

  display: flex;
  flex-flow: column wrap;
  align-content: center; 
}

.logo{
  background-color: var(--brown-banner);
  color: var(--main-white);
  font-size: 100px;
  font-family: 'Comic Neue', cursive, sans-serif;

  width: 100%;
  height: 25vh;
  margin-top: 15vh;

  display: flex;
  justify-content: center;
}

.brand-name, .coffee-mug{
  display: flex;
  margin: auto 0;
}

.credits{
  background-color: var(--brown-banner);
  color: var(--main-white);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  display: flex;
  margin-top: auto;
  justify-content: center;
}


/* Right side content */

.content{
  background-color: var(--main-white);
  width: 65vw;
  height: 100vh;

  display: flex;
  flex-flow: column nowrap;
}

.intro{
  width: 50vw;
  height: 25vh;
  color: rgb(31, 31, 31);
  padding: 10px;
  margin-top: 10vh;
  margin-left: 10px;
}

.phrase{
  font-family: 'Lato', sans-serif;
  font-size: 40px;
}

.text{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  line-height: 25px;
}

.form-box{
  width: 65vw;
  height: 25vh;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  padding: 20px 20px 30px 20px;

}

form{
  width: 65vw;
  
  display: flex;
  flex-flow: row wrap;
  gap: 15px;
}

.field{
  display: flex;
  flex-flow: column wrap;
  gap: 5px;
}

label{
  width: 23vw;
  height: 15px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  letter-spacing: 3px;
}

input{
  width: 23vw;
  font-size: 16px;
  padding: 0.25rem;
  border-radius: 5px;
  border: 2px solid var(--border-default);
  transition: 0.5s;
  outline: none;
}

input:focus {
  border: 2px solid var(--border-focus);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.outro{
  width: 20vw;
}

button{
  border: 0;
  background-color: var(--green-main);
  color: white;
  padding: 1rem;
  width:200px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  transition: 0.5s;
}

button:hover{
  background-color: var(--green-dark);
}
 